.header {
    text-align: center;
    margin: 0;
    background-image: url("/thong/public/images/banner.jpg");
}
.footer {
    width: 100%;
    position: absolute;
    bottom:0;
    background-image: url("/thong/public/images/banner.jpg");
}

a:hover {
    cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.bg-home {
    background-image: url("/thong/public/images/bg-home.jpg");
    background-size: cover;
}